.cardDetail{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    border: 1px solid black;
    box-shadow: 2px 6px 15px rgb(0, 0, 0);
}

.itemCard{
    display: block;
    justify-content: space-between;
}

.imgCard{
    padding: 10px;
    width: 430px;
    height: 500px;
}

.titleCard{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.stockCard{
    font-size: 17px;
    color: gray;
    padding-top: 20px;
    height: 30px;
    text-align: center;
}

.priceCard{
    text-align: center;
}

.textCard{
    font-size: 20px;
    padding-top: 20px;
}

.btnDetail{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.itemCount{
    margin-top: 30px;
    width: 300px;
    margin-left: 186px;
}

.btnBuy{
    text-decoration: none;
    text-align: center;
}

.spacebtn{
    text-align: center;
}