.cardDetail{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    background-color: cornsilk;
}

.itemCard{
    display: block;
    justify-content: space-between;
}

.imgCard{
    padding: 10px;
    width: 350px;
    height: 550px;
}

.titleCard{
    text-align: center;
    padding-bottom: 30px;
}

.stockCard{
    font-size: 17px;
    color: gray;
    margin-top: 20px;
}

.priceCard{
    text-align: center;
}

.textCard{
    font-size: 20px;
    padding-top: 20px;
}


.btnCardDetail{
    padding-top: 90px;
    height: 136px;
    text-align: center;
    justify-content: end;
}