.cart-item{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow: 2px 6px 15px rgb(0, 0, 0);

}

.imgCart{
    height: 150px;
    width: 110px;
}

.titleCart{
    text-align: center;
}

.infoCart{
    text-align: center;
    margin-left: 130px;
    width: 300px;
    padding-top: 33px;
}

.itemCount{
    display: flex;
    text-align: center;
    padding-right: 50px;
    padding-top: 15px;
}

.btnCart{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btnDelete{
    text-align: center;
    padding-top: 55px;
    padding-right: 30px;
    color: red;
}

.boxBuy{
    margin-bottom: 250px;
    text-align: center;
}

.priceTotal{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}