.cart-item{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow: 2px 6px 15px rgb(0, 0, 0);

}

.imgCart{
    height: 150px;
    width: 110px;
}

.titleCart{
    text-align: center;
}

.infoCart{
    text-align: center;
    margin-left: 130px;
    width: 300px;
    padding-top: 33px;
}

.itemCount{
    display: flex;
    text-align: center;
    padding-right: 50px;
    padding-top: 15px;
}

.btnCart{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btnDelete{
    text-align: center;
    padding-top: 55px;
    padding-right: 30px;
    color: red;
}

.boxBuy{
    margin-bottom: 250px;
    text-align: center;
}

.priceTotal{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.cartConteiner{
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 1em;
}
.cartConteiner__item{
    text-align: center;
    font-style: normal;
    font-size: 1.7rem;
    min-width: 90%;
    max-width: 90%;
    color: #0A1128;
    padding: 0.5em;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.cartConteiner__item--img {
    max-width: 250px;
    max-height: 250px;
    overflow:hidden;
}
.cartConteiner__item--img img {
    width: 250px;
    height: 250px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}
form *{
    width: 300px;
}
form div{
    margin: 10px;
}
form div input{
    height: 2em;
}
.postMessage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    gap: 1em;
    text-align: center;
}

h2{
    text-align: center;
}