.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 200px;
    padding-top: 50px;
    row-gap: 70px;
    margin-left: 250px;
    margin-right: 250px;
}