.footerBox {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__flex{
    display: flex;
    justify-content: space-evenly;
}

.icon{
    width: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
