.formatCard{
    margin: 20px;
    

}

.imgCard{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 300px;
    max-height: 400px;
}

.itemCard{
    text-align: center;
    margin: 10px;
}

.itemPrice{
    font-size: 20px;
}

.buttonCard{
    padding-top: 40px;
}