/* HEADER */

.mainHeader{
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 2px 6px 15px rgb(0, 0, 0);
  justify-content: space-between;
  background-color: black;
}

.logoImg{
  width: 220px;
  padding-top: 5px;
  padding-right: 50px;
}


/* MENU */

ul.navMenu {
   list-style: none;
   display: flex;
  padding-right: 50px;
}

ul.navMenu li {
   margin-right: 15px;
}
